body {
    text-align: center;
    font-family: 'Merriweather', serif;
    background-color: #E4F9F5;
}
h1 {
    font-family: 'Sacramento', cursive;
    font-size: 75px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
}
h3 {
    font-family: 'Montserrat', sans-serif;
}
p {
    font-family: 'Montserrat', sans-serif;
}
.skill-block {
    display: inline-block;
}
.skill-img {
    display: inline-block;
    height: 15%;
    width: 15%;
}
.top-container {
    padding-top: 100px;
    margin-top: 0;
    position: relative;
}
.bottom-cloud{
    position: absolute;
    left: 300px;
    bottom: 300px;
}
.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}
.middle-container {
}
.bottom-container {

}
